body{
    background-color: black;
}
.header .navbar a{
text-decoration: none;
padding-left: 30;
font-family:sans-serif;
color: white;
}
.header .navbar a:hover{
    text-decoration: underline;
    color: royalblue;
    text-shadow: 10%;
}
.header a{
text-decoration: none;
color: white;
font-family: sans-serif;
}
.header{
position: fixed;
top:0; 
left: 0; 
right: 0;
background: rgb(51, 51, 51);
display:flex;
align-items: center;
justify-content: space-between;
padding:1.5rem 9%;
}
.home .content{
text-align: center;
padding-top: 6rem;
margin:2rem auto;
max-width: 70rem;
}

.home .content h3{
color:white;
font-size: 4.5rem;
text-transform: uppercase;
}
.btn1{
margin-top: 1cm;
margin-bottom: 1cm;
text-decoration: none;
border-radius: 5cm;
background-color: rgb(51, 51, 51);
color:white ;
font-size: 40px;
font-weight: 600;
padding-left: 10px;
padding-right: 15px;
}
.btn1:hover{
background-color:olivedrab;
}
.swiper .swiper-s{
  width: 200px;
  height: 100px;
  float: left;
  
  
}
.logo{
    font-size: x-large;
}
.service{
    margin-top: 62%;
    color: white;
    font-family: sans-serif;
}
.service h1{
    margin-left: 44%;
}
.box1{
    float: left;
    margin-left: 11%;
    background-color:rgb(51, 51, 51);
    padding: 1% 2%;
    margin-top: 1%;
}
.box{
    float:left;
    margin-left: 10.6%;
    margin-top: 4%;
    background-color:rgb(51, 51, 51);
    padding: 1% 2%;
}
.about{
    color: white;
    margin-top: -10%;
    margin-left: 46%;
    font-family:sans-serif;
}
.about img{
    margin-left:-65% ;
    height: 45%;
    width: 69% ;
    margin-top: 2%;
}
.button{
    background-color: white;
    margin-left: -70%;
    padding: 1% 2%;
    text-decoration: none;
    font-family:sans-serif;
    font-weight: 700;
    color: black;
    border-radius: 5px;
}
.button:hover{
    background-color: palevioletred;
}
.gallery h1{
    margin-left: 46%;
    font-family: sans-serif;
    margin-top: -6%;
}
.gallery img{
    float: left;
    margin-left: 5%;
   
}
.g-box{
    margin-left: 9%;
}
.g-bx{
    margin-top: 15%;
    margin-left: 9%;
}
.g-b{
    margin-left: 9%;
    margin-top: 29%;
}
.about h1{
    margin-top: 80%;
}
.title{
    color:white;
    font-size: .6cm;
    background-color: palevioletred;
    width: 82%;
    padding: 4% 9%;
}
.amount{
    color:white;
    font-size: .8cm;
}
.box-container1 .box2{
    padding:.3cm 0cm;
    background-color: rgb(51, 51, 51);
    width: 24%;
    border-radius: .5cm;
    text-align: center;
}
.box2 ul{
        list-style: none;
        padding:0% 0%;
}
.box2 ul li{
        font-size: .5cm;
        color:white;
        padding: .2cm .9cm;
}
.box2:hover{
        transform: scale(1.03);
        
}
.btn{
    font-size: 30px;
    background-color:white;
    color: black;
    margin-top: 1cm;
    margin-bottom: 1cm;
    text-decoration: none;
    border-radius: 5cm;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 15px
}
.btn:hover{
    background-color:royalblue;
}
.box2{
    float: left;
    width: 14%;
    margin-top: 3%;
    margin-left: 10px;
}
.our{
    margin-left: 33%;
    color: white;
    margin-top: 136%;
} 
.about1{
    color: white;
    margin-top: -30%;
    margin-left: 26%;
    margin-right: 20%;
    font-family:sans-serif;
}
.box-container1{
    margin-left: -20%;
}
.review{
    margin-top: 2%;
    border-radius: 0%;
    background-color: rgb(51, 51, 51);
    border-radius: 5%;
    width: 20%;
    padding: 1% 1%;
    float:left;
    margin-left: 3%
}
.user img{
    border-radius: 100%;
    height: 100px;
}
.info{
    margin-left: 40%;
    margin-top: -25%;
}
.review:hover{
    transform: scale(1.03);
}
.contactus h1{
    color: aliceblue;
    font-family: sans-serif;
    margin-top: 20%;
    margin-bottom: 1%;
    margin-left: 27%;
}
.cab input{
    margin-bottom: 1%;
    background-color: rgb(51, 51, 51);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 31%;
    padding-left: 5px;
    margin-left: 1%;
    border-radius: 1%;
    border: none;
    color: whitesmoke;
}
.abc input{
    margin-bottom: 1%;
    background-color: rgb(51, 51, 51);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 31%;
    padding-left: 5px;
    margin-left: 1%;
    border-radius: 1%;
    border: none;
    color:whitesmoke;
}
.a input{
    background-color: rgb(51, 51, 51);
    width: 63%;
    margin-left: 1%;
    border: none;
    padding-top: .7%;
    padding-left: 1%;
    padding-bottom: 14%;
}
.mess{
    margin-top: 1%;
    margin-left: 14%;
    font-size: x-large;
}
.mess a{
    padding: 9px 30px;
    background-color: white;
    font-size:large;
    border-radius: 2%;
    margin-left: 10%;
}
.mess a:hover{
    background-color: palevioletred;
    color: white;
}
.contactus{
    margin-left: 27%;
    margin-top: 20%;
}
.footer{
    color: white;
}
.foot a{
    text-decoration:none;
    color: white;
}
.foot a:hover{
    transform:scale3d(0.2244);
    color: royalblue;
}
.foot{
    margin-top: 2%;
    float: left;
    margin-left: 12%;
}
.foot li{
    margin-top: 20%;
    margin-left: -15%;
}
.co{
    margin-top: -10%;
}
.a input{
    color: white;
}
